/* Body Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('https://static.vecteezy.com/system/resources/previews/006/852/804/non_2x/abstract-blue-background-simple-design-for-your-website-free-vector.jpg'); /* Background image URL */
  background-size: cover;
  overflow: hidden; /* Prevent scrolling */
}

/* Heading Styles */
.signup-heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Form Styles */
.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.signup-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #0056b3;
}

/* Login Link Styles */
.login-link {
  margin-top: 20px;
  text-align: center;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
